treechildren::-moz-tree-image(modules_twitterconnect_preferences){
	list-style-image: url(/changeicons/small/twitter.png);
}
treechildren::-moz-tree-image(modules_twitterconnect_account){
	list-style-image: url(/changeicons/small/user.png);
}
treechildren::-moz-tree-image(modules_twitterconnect_tweet){
	list-style-image: url(/changeicons/small/tweet.png);
}
treechildren::-moz-tree-image(modules_twitterconnect_planner){
	list-style-image: url(/changeicons/small/tweet-planner.png);
}
treechildren::-moz-tree-image(modules_twitterconnect_onpublishplanner){
	list-style-image: url(/changeicons/small/tweet-planner.png);
}
treechildren::-moz-tree-image(modules_twitterconnect_periodicplanner){
	list-style-image: url(/changeicons/small/tweet-planner.png);
}