groupbox{
	border: 1px solid #bbb !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;
	background-color: #f9f9f9 !important;
}
groupbox groupbox{
	background-color: #f0f0f0 !important;
}
groupbox caption{
	padding: 0 !important;	
	margin: 0 !important;	
}
.error-message{
	color: red;
}
.change-toolbox, .change-toolbar{
	background: transparent !important;
}